body {
    
    background: black;
    color: white;
}

h1 {
    display: flex;
    font-size: 5vw;
    margin-top: 10vw;
    margin-left: 1vw;
}

h2 {
    position: relative;
    display: flex;
    font-size: 2vw;
    margin-top:-22vw;
    margin-left: 1vw;
}

.texto1 {
    
    font-size: clamp(80px, 2vw, 24px);
    margin-top: 80rem;
    margin-left: 250rem;
}

.texto2 {
    
    font-size: clamp(80px, 2vw, 24px);
    margin-top: -22rem;
    margin-left: 140rem;
}
.menu {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: -110rem;
    gap: 20rem;
    margin-left: 150rem;
   

   
}
